// Here you can add other styles
$primary: #5856d6;
$secondary: #6b7785;
$success: #1b9e3e;
$info: #39f;
$warning: #f9b115;
$danger: #e55353;
$light: #f3f4f7;
$dark: #212631;
$app: #6a9e5d;

.app-color {
  color: $app;
}
.sidebar-brand-full {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.c-header-brand {
  text-decoration: none;
  text-align: left;
  color: $dark;
}
.c-header-brand:hover {
  color: black;
}
.sidebar-nav .nav-link {
  font-size: 90%;
  font-weight: 300;
  color: #ebedef;
}
.sidebar-nav .nav-link:hover {
  background-color: $app;
}
.header-nav .nav-link {
  font-size: 90%;
  font-weight: 300;
}
.no-outline-on-focus:focus {
  outline: none;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
  border: none !important;
  outline: none !important;
}

.no-outline.focus,
.no-outline:focus {
  outline: 0;
  box-shadow: none !important;
}

.modal-success .modal-header {
  background-color: $success;
}
.modal-warning .modal-header {
  background-color: $warning;
}
.modal-danger .modal-header {
  background-color: $danger;
}
.modal-info .modal-header {
  background-color: $info;
}

// EDGE
.edge-header {
  background-color: black;
  border-top: solid;
  border-top-width: 0px;
  border-top-color: #8FB46D ;
  border-bottom: solid;
  border-bottom-width: 0px;
  //border-bottom-color: #8B4513 ;
  border-bottom-color: #8FB46D ;

}

.edge-header-nav-link {
  font-weight: bold;
}

.btn-pill {
  border-radius: 50em;
}
.edge-sub-top-bar a {
  text-decoration: none;
  color: $primary;
}
.edge-sub-top-bar .active {
  text-decoration: underline;
}
.edge-sub-top-bar .divide {
  padding: 0 5px 0 5px;
  color: $dark;
}
.edge-home a {
  text-decoration: none;
}
.um-card {
  background-color: $light;
}
.um-form {
  padding-top: 100px;
}

.edge-text-center {
  text-align: center;
}

.edge-footer-item {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 80px;
}
.edge-footer {
  justify-content: center;
}

//form
.red-text {
  color: $danger;
}
.white-text {
  color: white;
}

.edge-text-font {
  font-family: 'Helvetica', sans-serif;
}
.edge-text-size-large {
  font-size: 1.1em;
}
.edge-text-size {
  font-size: 0.93em;
}
.edge-text-size-small {
  font-size: 0.85em;
}
.edge-table-text-size {
  font-size: 0.93em;
}
.edge-table-title {
  font-size: 1.1em;
}
.edge-table-toptoolbar {
  display: flex;
}

.edge-sub-field {
  color: $success !important;
}
.edge-help-text {
  color: $info;
  font-size: 0.85em;
}

.edge-center {
  margin: 0 auto;
  text-align: center;
}
.edge-right {
  margin: 0 auto;
  text-align: right;
}
.edge-left {
  margin: 0 auto;
  text-align: left;
}

.edge-options-toggle {
  color: $primary !important;
  text-decoration: none;
  cursor: pointer;
}

.edge-link {
  color: $primary !important;
  font-size: 1.0em;
  text-decoration: none;
  cursor: pointer;
}

.edge-link-small {
  color: $primary !important;
  font-size: 0.85em;
  text-decoration: none;
  cursor: pointer;
}

.edge-link-large {
  color: $primary !important;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
}

.edge-card-header-action {
  cursor: pointer;
}

.edge-card-header-title {
  font-weight: bold;
}

.edge-react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.edge-display-linebreak {
  white-space: pre-line;
}

.edge-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.edge-form-input-error {
  color: red;
}

.edge-form-input-error::before {
  display: inline;
  content: '⚠ ';
}

.edge-modal-body {
  max-width: 800px;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
}

.edge-component-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//tooltip
.hide {
  display: none;
}
.__react_component_tooltip {
  pointer-events: auto !important;
}

//react-select
.mySelect__value-container {
  overflow-y: auto !important;
  max-height: 300px;
}

/* over write css in react-select module */
.mySelect__menu-list {
  max-height: 300px !important;
}

.edge-iframe {
  display: block;
  width: 100vw;
  height: calc(100vh - 200px);
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
  padding-top: 0px;
}
.edge-fab-file-selector {
  margin-left: 10;
  color: $primary;
  //background-color: white;
}
.edge-fab-file-selector-icon {
  margin-right: 5px;
  font-size: 1.2em;
}

.workflow-card {
  margin-bottom: 5px;
}

.workflow-result-card {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 10px;
  margin-bottom: 5px;
}

.v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.edge-side-menu {
  padding-left: 60px;
}
.edge-side-menu a {
  text-decoration: none;
  color: $dark;
}
.edge-side-menu .active {
  font-weight: bold;
  font-size: 1.0em;
  text-decoration: none;
  color: black;
}

//remove under line from react-keyed-file-browser file name
.rendered-file-browser .file a {
  text-decoration: none;
}
//buttons, have to set this for tree select
.mr-3 {
  z-index: 0;
}
.edge-tooltip {
  z-index: 9999;
}
// react-dropdown-tree-select
.dropdown-content .infinite-scroll-component {
  overflow-y: inherit;
}
.dropdown-content {
  overflow-y: auto !important;
  max-height: 300px;
  z-index: 999;
}
.edge-tree-select .tag-item .search {
  width: 30vw;
}
.hideCheckbox {
  color: $primary;
}
.hideCheckbox .checkbox-item { display: none; }

// orcid login
.edge-header-orcid {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 16px;
  color: $secondary;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    color: $primary;
    text-shadow: 0 0 1px $primary;
    font-weight: 400;
    text-decoration: none;

    .edge-header-orcid-img {
      filter: opacity(100%);
    }
    .edge-header-orcid-icon {
      filter: opacity(100%);
    }
  }

  a {
    color: $secondary;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.edge-header-orcid-img {
  height: 28px;
  filter: opacity(65%);
}
.edge-header-orcid-icon {
  filter: opacity(65%);
}
.edge-header-orcid-login-help {
  position: absolute;
  top: 56px;
  right: 10px;
  z-index: 1;
  display: none; // none by default, but block on "open" of the menu
  width: 500px;
  height: 100%;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  text-transform: none;
  background-color: white;

  .edge-header-orcid-login-help-title {
    font-size: 20px;
    color: black;
  }
  .edge-header-orcid-login-help-text {
    font-size: 14px;
    color: $dark;
    font-weight: 200;
  }
  .edge-header-orcid-login-help-text a {
    font-size: 14px;
    color: $secondary;
    font-weight: 200;
    text-transform: none;
    text-decoration: underline;
    text-underline-offset: 1px;
  }
}

.edge-header-orcid-login:hover .edge-header-orcid-login-help {
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  display: block;
}

// edge button styles
.edge-button  {
  height: 40px; /* Adjust as needed */
  font-size: 1rem;
}

.edge-button .edge-button:active,
edge-button:active,
.edge-button:focus,
edge-button:focus,
.edge-button:hover,
edge-button:hover {
  height: 40px; /* Adjust as needed */
  font-size: 1rem;
}

.edge-button-sm  {
  height: 30px; /* Adjust as needed */
  font-size: 0.8rem;
}

.edge-button-sm .edge-button-sm:active,
edge-button-sm:active,
.edge-button-sm:focus,
edge-button-sm:focus,
.edge-button-sm:hover,
edge-button-sm:hover {
  height: 30px; /* Adjust as needed */
  font-size: 0.8rem;
}

//hide menu on topbar
@media screen and (max-width: 450px) {
  .edge-header-nav-link {
      display: none !important;
  }
  .edge-header-no-min {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .edge-header-nav-link-no-min {
      display: none !important;
  }
  .edge-header-no-min {
    display: none !important;
  }
}
@media screen and (max-width: 1030px) {
  .edge-header-no-min {
    display: none !important;
  }
}
