# uncomment 'SYSTEM_MESSAGE' and restart pm2 to disable workflow submission
# SYSTEM_MESSAGE=Workflow submission is temporarily unavailable. You can still browse/view your submitted projects.

###############################################################################
# Refer to `./config.js` to see all supported environment variables.          #
###############################################################################

# Networking:
# -----------
APP_SERVER_PORT=5000
CRON_SERVER_PORT=5555

# default is 'production'
# NODE_ENV=development

# Base URL at which visitors can access the web UI server
# Example url for development
# APP_UI_BASE_URL=http://localhost:3000
APP_UI_BASE_URL=__POPULATE_ME__

# Secrets:
# --------
#
# Note: You can generate a secret by running the following shell command:
#       $ node -e 'console.log(require(crypto).randomBytes(20).toString(hex))'
#
JWT_SECRET=__POPULATE_ME__

# Database
DB_NAME=__POPULATE_ME_IN_PRODUCTION__
DATABASE_USERNAME=__POPULATE_ME_IN_PRODUCTION__
DATABASE_PASSWORD=__POPULATE_ME_IN_PRODUCTION__

# upload file, file extensions
FILEUPLOAD_ALLOWED_EXTENSIONS=fastq|fq|faa|fa|fasta|fna|contigs|fastq.gz|fq.gz|fa.gz|fasta.gz|fna.gz|contigs.gz|fa.bz2|fasta.bz2|contigs.bz2|fna.bz2|fa.xz|fasta.xz|contigs.xz|fna.xz|gbk|gbff|gff|genbank|gb|xlsx|txt|bed|config|tsv|csv|raw|d|bam|sam

# Email:
# ------
SEND_PROJECT_STATUS_EMAILS=false
PROJECT_STATUS_SUBJECT=Your EDGE project status
EMAIL_MAILGUN_API_KEY=__POPULATE_ME_IF_ENABLING_EMAIL__
EMAIL_MAILGUN_DOMAIN=__POPULATE_ME_IF_ENABLING_EMAIL__

# Nextflow:
# ---------
NEXTFLOW_EXECUTOR=local
